$accent: #FFD34B;
$text: #353535;

.checkboxLabel{
    color: $text;
}

.root {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.presaleButton {
    text-align: center;
    color: $text;
    margin-bottom: 12px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.drop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 450px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: $text;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    transform: rotate(45deg);
    font-size: 36px;
}

.textField {
    width: 100%;
}

.selectWrapper {
    width: 100%;
}

.form {
    display: grid;
    grid-gap: 15px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: $accent;
    border: 0;
    width: 100%;
    transition: all .3s ease-in-out;
    outline: none;
    color: $text;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Courier New Cyr', arial;
    cursor: pointer;

    &:hover {
        background-color: darken($accent, 10%);
    }
}

.btnWrapper {
    display: flex;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 50;
}

.text {
    color: $text;
}

@media screen and (max-width: 520px) {
    .btnWrapper { 
        padding-top: 0;
    }
}