
$text: #353535;
$accent: #FFD34B;


.root {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: $accent;
    border: 0;
    transition: all .3s ease-in-out;
    outline: none;
    color: $text;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Courier New Cyr', arial;
    cursor: pointer;

    &:hover {
        background-color: darken($accent, 10%);
    }

    &:disabled {
        background-color: #a98615;
        cursor: default;
    }
}

.outlined {
    color: var(--main-text-black);
}

.primary {
    // background-color: #000;
    color: var(--main-text-black);
}

