.h1-title{
  font-size: clamp(40px,3.333vw,64px);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
  span{
    color: var(--main-gold);
    display: inline-block;
  }
}

.h2-title{
  font-size: clamp(40px,3.333vw,64px);
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--main-text-white);
  margin-bottom: 30px;
  text-align: center;
  span{
    color: var(--main-gold);
    display: inline-block;
  }
}

.single-swiper{
  .swiper-pagination.swiper-pagination-bullets{
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    height: auto;
    line-height: 1em;
  }
  .swiper-pagination-bullet{
    background-color: var(--main-text-white);
    opacity: 1;
    width: 16px;
    height: 16px;
    margin: 0 8px!important;
  }
  .swiper-pagination-bullet-active{
    background-color: var(--main-gold);
  }
}