@font-face {
    font-family: 'Courier New Cyr';
    font-weight: 400;
    src: local('Courier New Cyr'), url(../fonts/couriercyrps.woff) format('woff');
}

@font-face {
    font-family: 'Courier New Cyr';
    font-weight: 700;
    src: local('Courier New Cyr'), url(../fonts/couriercyrps_bold.woff) format('woff');
}