.root{
max-width: 910px;
margin: 0 auto;
}

.title{
  margin-bottom: 10px;
}

.subtitle{
  font-size: 38px;
  font-weight: 400;
  color: var(--main-gold);
  text-transform: uppercase;
  margin-bottom: 60px;
  line-height: 1em;
}

.description{
  text-align: center;
}

.text{
  font-size: 18px;
  font-weight: 700;
  color: var(--main-text-white);
  line-height: 125%;
  b{
    color: var(--main-gold);
  }
}

.action{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}