.root{
  padding-bottom: 206px;
}

.title{
  margin-bottom: 10px;
}


.text{
  color: var(--main-text-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 30px;
  max-width: 410px;
}

.link{
  a{
    text-decoration: none;
  }
}